{% extends "base.html" %} {% block title%} Log In{%endblock title%} {% block
body%}
<div class="container mt-3">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4 bg-dark">
      <h4 class="text-center bg-secondary text-light mt-4">Login Here</h4>

      {% with messages=get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}

      <div
        class="alert alert-{{category}} alert-dismissible fade show"
        role="alert"
      >
        {{message}}

        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% endfor %} {% endif %} {% endwith %}

      <form action="/login" method="POST">
        <div class="mb-3 text-light">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>

        <div class="mb-3 text-light">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>

        <div class="d-grid gap-2 col-6 mx-auto mb-4">
          <button class="btn btn-secondary btn-sm" type="submit">Log In</button>
        </div>
      </form>
      <br />
      <div class="text-light">
        Not a User <a href="/signup" class="text-light"> Signup</a>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
</div>

{%endblock body%}
